.cocktailCardComponentContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  border-radius: 10%;
  overflow: hidden;
}

.cocktailCardComponentContainer:hover {
  cursor: pointer;
  box-shadow: 0 0 6px #00000033;
  transition: transform 0.2s ease;
}

.cocktailCardComponentContainer:active {
  transform: translate(-5px, -5px);
}

.cocktailCardComponentContainer p {
  text-align: center;
}
