.randomComponentContainer {
  width: 100%;
  height: 100%;
  padding: 8vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.randomComponentContent {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: space-between;
}
