.footerContainer {
  width: 100vw;
  max-width: 480px;
  position: fixed;
  height: 8vh;
  bottom: 0;
  z-index: 99;
  border-top: 1px #0001 solid;
  display: flex;
  align-items: center;
}

.footerNavBarLinkContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footerNavBarLinkContainer button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
